@model RegistrationForm.Models.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Caloocan Boy</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="bg-gray-50 flex justify-center">

      <img src="https://scontent.fmnl5-2.fna.fbcdn.net/v/t1.6435-9/170019518_101011352112441_5738381808354974881_n.jpg?_nc_cat=1&amp;ccb=1-7&amp;_nc_sid=8bfeb9&amp;_nc_ohc=GGBoybJOyGQAX-x3Q4C&amp;_nc_ht=scontent.fmnl5-2.fna&amp;oh=00_AT8UtIQtdX1rtehACF-ZcBnUkAnhi799VD9wCTi2J0vyIA&amp;oe=635AC1AE" alt="May be an image of 1 person"/>"
    </div>
</body>
</html>
